/* text stuff */

* {
    font-family: "Poppins", sans-serif;
}

.shadow-text {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, .25));
}

/* cosas */

.centerfuck {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.logo {
    padding-bottom: 1em;
    max-width: 50%;
}

.fpf-container {
    padding-bottom: 1em;
}

#random-claudio {
    width: 256px;
}

.main {
    /* width     : 800px; */
    max-width: 800px;
}

.content {
    padding      : 1em;
    border-radius: 1em;
    margin-left  : auto;
    margin-right : auto;
}

.glassmorphism {
    background             : rgba(255, 255, 255, 0);
    border-radius          : 32px;
    box-shadow             : 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter        : blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
}

.seccion {
    background: rgba(0, 0, 0, 0.25);
    color     : white;
}

.content .seccion p {
    margin: 0px;
}

/* tontadas */

.lookaround {
    animation: lookaround 5s ease-in-out infinite;
    z-index  : 50;
}

@keyframes lookaround {
    0% {
        transform: perspective(30cm) rotateY(20deg);
    }

    50% {
        transform: perspective(30cm) rotateY(-20deg);
    }

    100% {
        transform: perspective(30cm) rotateY(20deg);
    }
}

.bg-scroll {
    transform             : scale(200%) perspective(15vw) rotateX(8deg) rotateY(5deg);
    animation             : bg-slide 5s linear infinite;
    background            : url("/img/bg.png") repeat;
    background-size       : calc(5vh);
    image-rendering       : optimizeSpeed;
    image-rendering       : -moz-crisp-edges;
    image-rendering       : -o-crisp-edges;
    image-rendering       : -webkit-optimize-contrast;
    image-rendering       : pixelated;
    image-rendering       : optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    position              : fixed;
    display               : block;
    z-index               : -999;
    height                : 100%;
    width                 : 100%;
}

@media only screen and (max-width: 768px) {
    .bg-scroll {
        transform: scale(215%) perspective(15vh) rotateX(8deg) rotateY(5deg);
    }
}

@keyframes bg-slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: calc(5vh * 2) calc(5vh * -2);
    }
}