/* text stuff */

* {
    font-family: "Roboto", sans-serif;
    overflow   : hidden;
    margin     : 0 auto;
}

h1 {
    color      : white;
    font-weight: 800;
    font-size  : 400%;
    filter     : drop-shadow(2px 4px 6px black);
}

p {
    color      : white;
    font-weight: 800;
    font-size  : 200%;
    filter     : drop-shadow(2px 4px 6px black);
}

img {
    max-height: 600px;
    filter     : drop-shadow(2px 4px 6px black);
}

/* containers or positioning stuff */
.center {
    display        : flex;
    justify-content: center;
    align-items    : center;
    text-align     : center;
    min-height     : 95vh;
}

.lookaround {
    animation: look 5s ease-in-out infinite;
    padding: 1em;
}

/* background stuff */
.bg-scroll {
    transform             : perspective(15cm) rotateX(8deg) rotateY(5deg);
    animation             : slide 5s linear infinite;
    background            : url("img/bg.png") repeat;
    image-rendering       : optimizeSpeed;
    image-rendering       : -moz-crisp-edges;
    image-rendering       : -o-crisp-edges;
    image-rendering       : -webkit-optimize-contrast;
    image-rendering       : pixelated;
    image-rendering       : optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    position              : fixed;
    display               : block;
    z-index               : -1;
    height                : 100%;
    width                 : 100%;
    top                   : 0;
    left                  : 0;
}

@media only screen and (min-width: 600px) {
    .bg-scroll {
        height: 120%;
        width : 120%;
        top   : -11%;
        left  : -5%;
    }
}

@media only screen and (max-width: 600px) {
    .bg-scroll {
        height: 115%;
        width : 115%;
        top   : -10%;
        left  : -5%;
    }
}

@media only screen and (min-width: 768px) {
    .bg-scroll {
        height: 115%;
        width : 115%;
        top   : -15%;
        left  : -5%;
    }
}

@media only screen and (min-width: 992px) {
    .bg-scroll {
        height: 120%;
        width : 120%;
        top   : -15%;
        left  : -2%;
    }
}

@media only screen and (min-width: 1200px) {
    .bg-scroll {
        height: 115%;
        width : 115%;
        top   : -15%;
        left  : 0%;
    }
}

@media only screen and (min-width: 1921px) {
    .bg-scroll {
        height: 120%;
        width : 120%;
        top   : -20%;
        left  : 2%;
    }
}

@keyframes slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: calc(64px * 2) calc(64px * -2);
    }
}

@keyframes look {
    0% {
        transform: perspective(30cm) rotateY(20deg);
    }

    50% {
        transform: perspective(30cm) rotateY(-20deg);
    }

    100% {
        transform: perspective(30cm) rotateY(20deg);
    }
}